# Python
*.pyc
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.env

# Django
db.sqlite3
media/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# Backups papkasi ichidagi katta fayllar
backups/*.sql
backups/*.json
