{% extends 'frontend/base.html' %}
{% block title %}Qidiruv{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h2>Qidiruv natijalari: "{{ search_query }}"</h2>
        <div class="product-grid">
            {% for product in products %}
            {% include 'frontend/product_card.html' %}
            {% empty %}
            <p>Natija topilmadi.</p>
            {% endfor %}
        </div>
        {% include 'partials/pagination.html' with page_obj=products %}
    </div>
</section>
{% endblock %}
